<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task List</title>
</head>
<body>
    <h1>Liste des tâches</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Content</th>
                 <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.id}">1</td>
                <td th:text="${task.task_title}">Task Title</td>
                <td th:text="${task.task_content}">Task Content</td>
                 <td>
 <form th:action="@{/tasks/delete/{id}(id=${task.id})}" method="post" onsubmit="return confirm('Are you sure?')">
                        <input type="hidden" name="_method" value="delete" />
                        <button type="submit">Delete</button>
                    </form>                 </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
